 {
    outline: auto;
}


.header-links {
    color:white;
    font-family: sans-serif;
    display:inline-flex;
    font-size:12px;
    gap:10px;
    margin-left:2%;
    margin-right:50px
}

.header-img {
    flex-grow:0;
    flex-basis:250px;
    height:48px;
    display: inline-flex;
    margin-left:64px;
    margin-right:3%;
    margin-top:10px;
   }

.header {
    width:100%;
    display:inline-flex;
    justify-content: space-evenly;
    
    background-color:#1f2937;
    }

.main-one h2 {
    color:white;
}


.main-one-left {
    
    display:inline-block;
    color:white;
    width:250px;
    
    margin-top:50px;
    
     margin-left:70px;
     margin-right:2%;
}
.main-one-left button {
    background-color: blue;
    color:white;
    border-width:0px;
}
.mo_img { 
    margin-bottom:50px;
    margin-top:50px;
    margin-left:5%;
    margin-right:50px;
    display:inline-flex;
   
    height:175px;
    
}

.img_and_left{ 
    margin-left:0px;
    width:100%;
    justify-content:space-evenly;
    display:inline-flex;
}
.main {
    margin-top:-10px;
    padding-left:10px;
    width:110%;
    background-color:#1f2937; }

.random_info {
    justify-content:space-between;
    display:flex;
    
    margin-top:50px;
    margin-right:15%;
    margin-left:15%;
    height:250px;
}

.ran_cont {
    width:120px ;
    margin-left
}

.ran_cont p {
    margin-top:0;
    font-size:14px;
}

.ran_cont p {
    
}